<!-- <%- layout('/layouts/boilerplate') %>
<h1>Edit Campground</h1>
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
    <div>
        <label for="title" >title</label>
        <input type="text" id="title" name="campground[title]" value="<%= campground.title %>">
    </div>
    <div>
        <label for="location">location</label>
        <input type="text" name="campground[location]" id="location" value="<%= campground.location %>">
    </div>
    <button>Update Campground</button>
</form>
<a href="/campgrounds">All campgrounds</a> -->

<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required >
                <div class="valid-feedback">Looks Good</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>" required >
                <div class="valid-feedback">Looks Good</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" name="campground[image]" id="image" value="<%= campground.image %>" required >
                <div class="valid-feedback">Looks Good</div>
            </div>
             <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group ">
                    
                    <span class="input-group-text" id="prince-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" name="campground[price]" aria-label="price" value="<%= campground.price %> " required 
                        aria-describedby="price-label">
                    <div class="valid-feedback">Looks Good</div>
                </div> 
            </div> 
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required ><%= campground.description %></textarea>
                <div class="valid-feedback">Looks Good</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Update Campground</button>
            </div>

        </form>
        <a href="/campgrounds">Back to campgrounds</a>
    </div>
</div>


